@charset "utf-8";

a {text-decoration: none;}
body {width:1500px; margin: 0 auto; }
header {width: 1500px; height: 90px; background: #f986bd; position: relative;
         position: fixed; margin: 0 auto; z-index: 1;}
#back1 {width: 100%; height: 90px; background: #f986bd; position: fixed;
         left: 0px;}
header h1 {float: left;}
header h2 {float: right;}
header div {position: relative; top: 10px;}
header div img {width: 100%;}
.menu li {width: 80px; height: 90px; line-height: 90px; float: left;}
.menu li:first-child {margin-left: 40px;}
.menu li a {color: #fff; font-weight: bold; text-indent:0%;
            font-size: 14px;}
.ban1 {width: 100%;}
.menu {position: relative;}
.sub {float: left; position: absolute; left: 50px; display: none;
       background: #fff; height: 100px; width: 1500px;}
.sub li {float: left; margin: 30px; }
.sub li a {font-size: 20px; font-weight: bold; color: #000;}

.sub li> ul> li a {font-size: 14px; color: gray;}


#nav1 {width: 1500px; height: 100%; margin:0 auto;}
.menu2 {width: 1040px; height: 190px; line-height: 320px;
        margin: 0 auto; position: relative;}
.menu2 li {height: 180px; float: left; margin: 15px; transform: translateX(200px);
           z-index : 0;}
.menu2 li a {color: #f986bd; font-weight: bold; text-indent: 0;}



.suv1 {width: 1040px; text-align: center; margin: 0 auto;
          /*display:none;*/}
.suv1 h1 {text-align: center; margin: 50px; font-size: 80px;
             font-weight: bold; color: #f986bd; text-indent: 0;}
.suv1 p {height: 200px; font-size: 20px;}
#nav1 ul li {text-align: center;}
.suv1 p br {margin-top: 10px;}

.suv2 {text-align: center; height: 1040px;
          display: none;}

.suv2 h1 {text-align: center; margin: 50px; font-size: 80px;
        font-weight: bold; color: #f986bd; text-indent: 0;}
.suv2 p {height: 200px; font-size: 20px; color: #f986bd;}

.suv2 li {float: left; width: 20%;}
.suv2 li a {text-align: center; color: gray; font-weight: bold;}
.suv2 li span {display: block;}
.suv2 li img {width: 250px; height: 250px; border: thin solid #eee;
                 border-radius: 40px;}

                 .suv3 {text-align: center; height: 1040px;
                           display: none;}

                .suv3 h1 {text-align: center; margin: 50px; font-size: 80px;
                         font-weight: bold; color: #f986bd; text-indent: 0;}
                .suv3 p {height: 200px; font-size: 20px; color: #f986bd;}
                 
                .suv3 li {float: left; width: 20%;}
                .suv3 li a {text-align: center; color: gray; font-weight: bold;}
                .suv3 li span {display: block;}
                .suv3 li img {width: 250px; height: 250px; border: thin solid #eee;
                                  border-radius: 40px;}

        .suv4 {text-align: center; height: 1040px;
                   display: none;}
        .suv4 h1 {text-align: center; margin: 50px; font-size: 80px;
                     font-weight: bold; color: #f986bd; text-indent: 0;}
        .suv4 p {height: 200px; font-size: 20px; color: #f986bd;}                                  
        .suv4 li {float: left; width: 20%;}
        .suv4 li a {text-align: center; color: gray; font-weight: bold;}
        .suv4 li span {display: block;}
        .suv4 li img {width: 250px; height: 250px;
                         border: thin solid #eee;
                         border-radius: 40px;}

.suv5 {text-align: center; height: 1040px;
          display: none;}
.suv5 h1 {text-align: center; margin: 50px; font-size: 80px;
        font-weight: bold; color: #f986bd; text-indent: 0;}
.suv5 p {height: 200px; font-size: 20px; color: #f986bd;}
.suv5 li span {display: block;}
.suv5 li img {width: 250px; height: 250px; border: thin solid #eee;
                 border-radius: 40px;}
        
        .suv6 {text-align: center; height: 1040px;
                  display: none;}
        .suv6 h1 {text-align: center; margin: 50px; font-size: 80px;
                 font-weight: bold; color: #f986bd; text-indent: 0;}
        .suv6 p {height: 200px; font-size: 20px; color: #f986bd;}
        .suv6 li {float: left; width: 20%;}
        .suv6 li a {text-align: center; color: gray; font-weight: bold;}
        .suv6 li span {display: block;}
        .suv6 li img {width: 250px; height: 250px; border: thin solid #eee;
                        border-radius: 40px;}

        .suv7 {text-align: center; height: 1040px;
                                display: none;}
        .suv7 h1 {text-align: center; margin: 50px; font-size: 80px;
                                    font-weight: bold; color: #f986bd; text-indent: 0;}
        .suv7 p {height: 200px; font-size: 20px; color: #f986bd;}
        .suv7 li {float: left; width: 20%;}
        .suv7 li a {text-align: center; color: gray; font-weight: bold;}
        .suv7 li span {display: block;}
        .suv7 li img {width: 250px; height: 250px; border: thin solid #eee;
                                      border-radius: 40px;}